html {
	cursor: default;
	font: 12px Verdana, sans-serif;
	background-image: url("../img/wallpaper.jpg");
	background-position: center;
	height: 100%;
	color: white;
}

a, a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.top {
	position: absolute;
	width: 96.1%;
	padding: 20px;
	border-bottom: 1px solid;
}

.nav {
	position: absolute;
	display: inline-block;
	top: 0em;
	width: 25%;
	left: 4em;
}

.list {
	width: 40em;
	left: 10em;
	position: absolute;
	display: inline;
}

.nav {
	list-style-type: none;
	display: inline;
}

.input {
	padding: 1em;
	margin:  1em;
}

ul {
	list-style-type: none;
}

li {
	float: left;
	padding-left: 4em;
	padding-top: 1.3em;
}

b:hover {
	cursor: pointer;
}

.search-div {
	position: absolute;
	left:  35%;
	bottom:  40%;
}

.select {
	position: absolute;
	width: 15em;
}

.logo {
	position: relative;
	width: 2em;
	height: 2em;
}

.logo-img {
	position: relative;
	left: 0em;
	width: 100%;
}

select, .film, .serie, .found, div#background {
	color: #FFFFFF;
	background-color: #1F1F1F;
}

div#background {
	border-radius: 10px;
	position: relative;
	bottom:  -10em;
	height: 120%;
}

.select{
	position: absolute;
	float: right;
	right: 0em;
	bottom: 2em;
	display: inline-block;
}


div#login {
	font-size: 16px;
	border-radius: 10px;
	width: 25%;
	height: 40%;
	position: absolute;
	left: 34%;
	bottom: 25%;
	padding: 4em;
	justify-content: center;
	align-content: center;
	text-align: center;
	background-color: #1F1F1F;
}

form#login-form {
	position: relative;
	top:  10%;
	left:  0%;
	
}

input#login-button {
	padding: 1em;
	cursor: pointer;
}

div#recommended, div#search {
	position: relative;
	top: 7em;
	text-align: center;
}

h1, h2 {
	text-align: left;
	margin-left: 10%;
}

div#detail {
	position: relative;
	top: 10em;
}

div#search {
	text-align: center;
	width: 70%;
	margin-left: 16.5%;
}

form.favoritos {
	padding-top: 1em;
	position: relative;
	width: 30%;
	left:  0em;
}

div#description {
	font-size: 14px;
	top: 5%;
	text-align: justify;
	width: 60%;
	position: absolute;
	left: 30%;
	right: 10em;
}

.film form {
	display: inline-block;
	margin-top: 15px;
}

.serie form {
	display: inline-block;
	margin-top: 15px;
}

div#background {
	position: relative;
	left: 10%;
	width: 80%;
	padding-bottom: 10em;
}

div#detail-picture {
	position: relative;
	padding-left: 2em;
	padding-top:  2em;
	width: 20%;
	left: 1em;
	top: 1em;
}

div#valuation {
	position: absolute;
	bottom: -7.8em;
	width: 100%;
	height: 15%;
}

form#valuate {
	position: absolute;
	left: 0em;

}

button#appreciate {
	position: absolute;
	top: 0.5em;
	padding: 2em;
	right: 1em;
}

.film, .found, .serie {
	height: 30em;
	width: 20em;
	border-radius: 10px;
	padding: 1em;
	margin: 0.5em;
	padding-bottom: 6.8em;
	display: inline-block;
}

.picture {
	border-radius: 8px;
	height: 373px;
	width: 100%;
}

input, button, select {
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 4px;
	border: none;
	padding: 0.4em 0.3em;
}

button:hover, select:hover, input#valuate:hover {
	cursor: pointer;
}

input#login, input#input {
	border-style: none;
	border: 1px solid;
}

.login {
	cursor: pointer;
}

footer {
	border-top: 1px solid;
	position: absolute;
	bottom: 0em;
	width: 100%;
	padding: 1px;
}

#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
}

#form p {
	text-align: center;
}

#form label {
	font-size: 20px;
}

input[type="radio"] {
	display: none;
}

label {
	color: grey;
}

input#radio1 {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

#valuation {
	direction: rtl;
	unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
	color: orange;
}

input[type="radio"]:checked ~ label {
	color: orange;
}

.score{
	width: 14%;
}

.contenedor{
	position: absolute;
	margin-left: 5px;
	display: inline-block;
	padding-top: 15px;
	width: 3em;
	height: 3em;
}
.contenedor2{
	display: inline-block;
}

img.score {
	height: 100%;
	width: 100%;
	position: relative;
	top: -28px;
	left: -144px;
}

.texto{
	position: absolute;
	top: -3px;
	left: -137px;
	color: black;
}

.favoritos.selected {
	height: 25px;
	width: 25px;
	background-image: url("../img/star.png");
	background-size: contain;
	background-position: center;
}

.favoritos.noselected {
	height: 25px;
	width: 25px;
	background-image: url("../img/star(1).png");
	background-size: contain;
	background-position: center;
}






